{% block titre %}
    <h1>Balkanistan : Accueil Affaire</h1>
{% endblock %}

{% block body %}
    <h1>Affaires :</h1>

    <form action="{{ path("affaire_recherche") }}" method="get" name="form">
        <label for="search">Recherche
            <input type="text" name="search"/>
            <input type="submit">
        </label>
    </form>

    <ul>
        <li>Affaires trouvées : </li>
        {% for affaire in affaires %}
            <ul>
                <li>Designation : {{ affaire.designation }}
                    <a href="{{ path('affaire_voir', {'id': affaire.id}) }}">voir</a>
                    <a href="{{ path('affaire_modifier', {'id': affaire.id}) }}">modifier</a>
                </li>
            </ul>
        {% endfor %}
    </ul>

    <p><a href="{{ path('affaire_ajouter2') }}">ajouter une affaire</a></p>

    <p><a href="{{ path('balkanistan_accueil') }}">retour</a> à la page d'accueil.</p>
{% endblock %}
