<!DOCTYPE html>
<html>
    <head>
        <title>Mairie</title>
    </head>
    <body>
        <h1>Mairie {{ numero }}</h1>
        <p> Voici quelques informations concernant la mairie numéro : {{ numero }}<br \>
        blablabla {{ numero }} blablabla {{ numero }} blablabla {{ numero }}
        blablabla {{ numero }} blablabla {{ numero }} ....
        </p>
    </body>
</html>
