{% extends "parti/layoutparti.html.twig" %}
{% block titre %}
    {{ parent() }} : Parti "{{ parti.nom }}" : (id={{ parti.id }})
{% endblock %}
{% block contenu %}
<ul>
    <li>Nom : {{ parti.nom }}</li>
    <li>Politiciens associés : </li>
    <ul>
        {% for politicien in parti.politiciens %}
            <li>{{ politicien.nom }}</li>
        {% endfor %}
    </ul>
</ul>

{% endblock %}