{% extends "politicien/layoutpoliticien.html.twig" %}
{% block titre %}
    {{ parent() }} : Politicien {{ politicien.nom }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Nom : {{ politicien.nom }}</li>
    <li>Sexe : {{ politicien.sexe }}</li>
    <li>Age : {{ politicien.age }}</li>
</ul>
{% endblock %}