{% extends "politicien/layoutpoliticien.html.twig" %}
{% block titre %}
    {{ parent() }} : Politicien {{ politicien.nom }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Nom : {{ politicien.nom }}</li>
    <li>Sexe : {{ politicien.sexe }}</li>
    <li>Age : {{ politicien.age }}</li>
    <li>Parti : {{ politicien.parti }}</li>
    <li>Mairie : {{ politicien.mairie }}</li>
    <li>Affaires associées : </li>
    <ul>
        {% for affaire in politicien.affaire %}    
            <li>{{ affaire.designation }}</li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}